:root {
  --font-family: "Roboto", Arial, Helvetica, sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --header-top-height: 130px;
  --light-color: #fff;
  --accent-color: #ffcc00;
  --accent-hover-color: #f7ce2a5f;
  --text-color: #252525;
  --accent-text-color: #000000;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

picture {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 0;
}

img,
source {
  width: 100%;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  color: currentColor;
  text-decoration: none;
}

.site-container {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 576px) {
  .header-container {
    gap: 15px;
  }
}
@media (min-width: 992px) {
  .header-container {
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .header-container {
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .header-container {
    gap: 40px;
  }
}
.header-top {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47px auto auto;
  grid-template-columns: 47px auto auto;
  -ms-grid-rows: 2px 30px auto;
  grid-template-rows: 2px 30px auto;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 5px;
  width: 100%;
}
@media (min-width: 576px) {
  .header-top {
    -ms-grid-columns: 80px auto 183px;
    grid-template-columns: 80px auto 183px;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media (min-width: 650px) {
  .header-top {
    -ms-grid-columns: 125px auto 183px;
    grid-template-columns: 125px auto 183px;
    row-gap: 10px;
  }
}
@media (min-width: 768px) {
  .header-top {
    -ms-grid-columns: 125px auto 200px;
    grid-template-columns: 125px auto 200px;
    -ms-grid-rows: 2px 70px auto;
    grid-template-rows: 2px 70px auto;
  }
}
@media (min-width: 992px) {
  .header-top {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (min-width: 1024px) {
  .header-top {
    -ms-grid-columns: 125px auto auto;
    grid-template-columns: 125px auto auto;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (min-width: 1200px) {
  .header-top {
    -ms-grid-columns: 210px 253px 1fr auto;
    grid-template-columns: 210px 253px 1fr auto;
    row-gap: 22px;
  }
}
.header-top__logo {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: flex-start;
}
@media (min-width: 1024px) {
  .header-top__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
    align-self: flex-end;
  }
}
.header-top__logo-wrapper {
  padding: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--accent-color);
}
@media (min-width: 576px) {
  .header-top__logo-wrapper {
    padding: 10px 8px;
  }
}
@media (min-width: 650px) {
  .header-top__logo-wrapper {
    padding: 20px 8px;
  }
}
@media (min-width: 1024px) {
  .header-top__logo-wrapper {
    padding: 10px 8px 6px;
  }
}
.header-top__logo-img {
  width: 37px;
  height: 33px;
}
@media (min-width: 576px) {
  .header-top__logo-img {
    width: 57px;
    height: 51px;
  }
}
@media (min-width: 650px) {
  .header-top__logo-img {
    width: 77px;
    height: 65px;
  }
}
@media (min-width: 992px) {
  .header-top__logo-img {
    width: 107px;
    height: 95px;
  }
}
.header-top__logo-text {
  display: none;
}
@media (min-width: 1024px) {
  .header-top__logo-text {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--accent-text-color);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    z-index: 2;
  }
}
@media (min-width: 1200px) {
  .header-top__logo-text {
    font-size: 13px;
  }
}
.header-top__logo:hover span {
  color: var(--accent-color);
}
.header-top__wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
}
@media (min-width: 768px) {
  .header-top__wrapper {
    padding-bottom: 0;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}
@media (min-width: 1024px) {
  .header-top__wrapper {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/span 3;
  }
}
.header-top__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-column-gap: 14px;
  -moz-column-gap: 14px;
  column-gap: 14px;
  padding: 0;
}
@media (min-width: 576px) {
  .header-top__buttons {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .header-top__buttons {
    -ms-grid-column: 3;
    grid-column: 3;
    padding: 12px 0 8px;
  }
}
@media (min-width: 992px) {
  .header-top__buttons {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}
@media (min-width: 1024px) {
  .header-top__buttons {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}
.header-top__buttons .btn {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.header-top__buttons .btn.registr {
  display: none;
}
@media (min-width: 414px) {
  .header-top__buttons .btn.registr {
    display: inline-block;
  }
}
@media (min-width: 414px) {
  .header-top__buttons .btn:first-child:after {
    content: "|";
    position: relative;
    margin-left: 14px;
    color: var(--text-color) !important;
    cursor: initial;
  }
}
.header-top__buttons .btn:hover {
  color: var(--accent-color);
}
.header-top__banner {
  width: 253px;
  height: 70px;
  background-color: #e2e2e2;
}
@media (min-width: 768px) {
  .header-top__banner {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}
@media (min-width: 1024px) {
  .header-top__banner {
    -ms-grid-row: 2;
    grid-row: 2;
  }
}
.header-top__carts {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
}
@media (min-width: 650px) {
  .header-top__carts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .header-top__carts {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}
@media (min-width: 1024px) {
  .header-top__carts {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}
@media (min-width: 1200px) {
  .header-top__carts {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
.header-bottom {
  position: relative;
  width: 100%;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--text-color);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
.header-bottom__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 9px 14px 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--accent-text-color);
  text-transform: uppercase;
  background-color: var(--accent-color);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  .header-bottom__bonus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.hits-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.hits-items__img {
  width: 60px;
  height: 60px;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color, -webkit-transform 0.3s;
  transition: border-color, -webkit-transform 0.3s;
  -o-transition: border-color, transform 0.3s;
  transition: border-color, transform 0.3s;
  transition: border-color, transform 0.3s, -webkit-transform 0.3s;
}
@media (min-width: 992px) {
  .hits-items__img {
    width: 70px;
    height: 70px;
  }
}
.hits-items__img:hover {
  border: 1px solid var(--accent-color);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.catalog-mobile {
  height: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  font-weight: 600;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 7px;
}
@media (min-width: 1024px) {
  .catalog-mobile {
    display: none;
  }
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 4;
  grid-column: 4;
}
@media (min-width: 992px) {
  .top-header {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}
.top-menu {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -102%;
  width: auto;
  min-height: 100vh;
  z-index: 20;
  padding: 4rem 2rem 2rem;
  background-color: #fff;
  -webkit-transition: right 0.4s;
  -o-transition: right 0.4s;
  transition: right 0.4s;
  overflow-y: auto;
}
@media (min-width: 1024px) {
  .top-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/span 2;
    position: relative;
    right: 0;
    width: auto;
    min-height: 0;
    height: auto;
    padding: 12px 0 8px;
  }
}
.top-menu.menu--active {
  right: 0;
  -webkit-transition: right 0.4s;
  -o-transition: right 0.4s;
  transition: right 0.4s;
  row-gap: 25px;
}
.top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 22px;
}
@media (min-width: 1024px) {
  .top-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 22px;
    -moz-column-gap: 22px;
    column-gap: 22px;
  }
}
.top-menu__link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: var(--text-color);
  white-space: nowrap;
}
@media (min-width: 1024px) {
  .top-menu__link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
}
.top-menu__link:hover {
  color: var(--accent-color);
}
.top-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
@media (min-width: 992px) {
  .top-body {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}
@media (min-width: 1024px) {
  .top-body {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (min-width: 1100px) {
  .top-body {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}

.users-buttons {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 5px;
}
@media (min-width: 576px) {
  .users-buttons {
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .users-buttons {
    grid-column: none;
    grid-row: none;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .users-buttons {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
  }
}
@media (min-width: 1024px) {
  .users-buttons {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.users-buttons__cart, .users-buttons__favorite, .users-buttons__balance {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
  grid-template-columns: 20px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
@media (min-width: 992px) {
  .users-buttons__cart, .users-buttons__favorite, .users-buttons__balance {
    -webkit-column-gap: 11px;
    -moz-column-gap: 11px;
    column-gap: 11px;
  }
}
.users-buttons__cart svg, .users-buttons__favorite svg, .users-buttons__balance svg {
  display: block;
  margin: auto;
  -webkit-transition: fill, -webkit-transform 0.3s;
  transition: fill, -webkit-transform 0.3s;
  -o-transition: fill, transform 0.3s;
  transition: fill, transform 0.3s;
  transition: fill, transform 0.3s, -webkit-transform 0.3s;
}
.users-buttons__cart .count, .users-buttons__favorite .count, .users-buttons__balance .count {
  position: absolute;
  top: -10px;
  left: 15px;
  padding: 3px 5px;
  line-height: 1;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--accent-color);
}
@media (min-width: 992px) {
  .users-buttons__cart .count, .users-buttons__favorite .count, .users-buttons__balance .count {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    text-decoration: underline;
    border-radius: 0;
    background-color: transparent;
  }
}
.users-buttons__cart .text, .users-buttons__favorite .text, .users-buttons__balance .text {
  display: none;
}
@media (min-width: 992px) {
  .users-buttons__cart .text, .users-buttons__favorite .text, .users-buttons__balance .text {
    display: inline;
  }
}
.users-buttons__cart span, .users-buttons__favorite span, .users-buttons__balance span {
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.025em;
  text-decoration: underline;
  color: var(--accent-text-color);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  .users-buttons__cart:hover svg, .users-buttons__favorite:hover svg, .users-buttons__balance:hover svg {
    fill: var(--accent-color) !important;
  }
}
@media (min-width: 1200px) {
  .users-buttons__cart:hover svg, .users-buttons__favorite:hover svg, .users-buttons__balance:hover svg {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@media (min-width: 1024px) {
  .users-buttons__cart:hover span, .users-buttons__favorite:hover span, .users-buttons__balance:hover span {
    font-size: 14px;
    letter-spacing: -0.01em;
    color: var(--accent-color);
  }
}
.users-buttons__cart-icon {
  width: 19px;
  height: 18px;
}
.users-buttons__favorite-icon {
  width: 14px;
  height: 14px;
}
.users-buttons__balance-icon {
  width: 18px;
  height: 16px;
}

.contacts {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
  -ms-grid-row: 3;
  grid-row: 3;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  z-index: 3;
}
@media (min-width: 345px) {
  .contacts {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 576px) {
  .contacts {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (min-width: 650px) {
  .contacts {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    grid-row: 3;
    position: relative;
    width: 133px;
    height: 100%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
  }
}
@media (min-width: 768px) {
  .contacts {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}
@media (min-width: 992px) {
  .contacts {
    -ms-grid-column: 3;
    grid-column: 3;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .contacts {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 133px;
  }
}
@media (min-width: 1100px) {
  .contacts {
    width: 162px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    width: 185px;
  }
}
.contacts span {
  margin-top: 2px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: var(--text-color);
}
.contacts-top {
  display: none;
}
@media (min-width: 1200px) {
  .contacts-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contacts-top span:first-child {
    font-weight: 700;
  }
}
.contacts__phone {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  white-space: nowrap;
}
@media (min-width: 576px) {
  .contacts__phone {
    margin: 5px 0;
    font-weight: 700;
    font-size: 18px;
  }
}
@media (min-width: 650px) {
  .contacts__phone {
    line-height: 29px;
  }
}
@media (min-width: 1024px) {
  .contacts__phone {
    margin: 5px 0;
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .contacts__phone {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .contacts__phone {
    margin: 12px 0;
    font-size: 25px;
  }
}
.contacts__bottom {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media (min-width: 576px) {
  .contacts__bottom {
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media (min-width: 650px) {
  .contacts__bottom {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .contacts__bottom {
    position: absolute;
    top: 104%;
    left: 0;
  }
}
.contacts__bottom details {
  position: relative;
  margin-bottom: 2px;
}
.contacts__bottom details ul {
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0.5rem 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25), 2px -2px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25), 2px -2px 7px rgba(0, 0, 0, 0.25);
}
.contacts__bottom details ul li {
  padding: 3px 1rem;
  cursor: pointer;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  transition: color, background-color 0.3s;
  white-space: nowrap;
}
.contacts__bottom details ul li:hover {
  background-color: var(--accent-color);
}
.contacts__bottom details ul li:hover span {
  color: #fff;
}
.contacts__bottom summary {
  cursor: pointer;
}

.main-menu {
  position: absolute;
  top: 105%;
  left: 0;
  height: 0;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--text-color);
  border-radius: 9px;
  -webkit-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;
}
@media (min-width: 414px) {
  .main-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.main-menu .header-bottom__bonus {
  height: 0;
  display: none;
}
.main-menu.menu-catalog-active {
  height: auto;
}
.main-menu.menu-catalog-active .header-bottom__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}
@media (min-width: 1024px) {
  .main-menu {
    position: relative;
    top: 0;
    width: auto;
    height: 100%;
    border-radius: 0;
  }
}
.main-menu__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 8px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .main-menu__list {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0;
  }
}
.main-menu__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1024px) {
  .main-menu__item {
    width: auto;
    height: 100%;
  }
}
.main-menu__item.item-active a {
  font-weight: 600;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}
.main-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--text-color);
  border: none;
  color: #fff;
  -webkit-transition: color, background-color 0.3s;
  -o-transition: color, background-color 0.3s;
  transition: color, background-color 0.3s;
}
@media (min-width: 1024px) {
  .main-menu__link {
    font-size: 14px;
    line-height: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    padding: 8px 12px;
  }
}
@media (min-width: 1100px) {
  .main-menu__link {
    padding: 8px 15px;
  }
}
@media (min-width: 1200px) {
  .main-menu__link {
    padding: 8px 19px;
  }
}
.main-menu__link:hover {
  background-color: var(--accent-hover-color);
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  bottom: 0.5px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
@media (min-width: 1024px) {
  .search {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
.search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 9px 8px 8px;
  background-color: var(--accent-color);
  border-radius: 6px;
  cursor: pointer;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media (min-width: 1024px) {
  .search-btn {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.search-icon {
  width: 19px;
  height: 19px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.search:hover .search-icon {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.search-input {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  padding: 5px 10px;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  outline: none;
  z-index: 3;
  display: none;
}
@media (min-width: 650px) {
  .search-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 270px;
    height: 100%;
    padding: 5px 10px;
    border: 1px solid var(--accent-color);
    border-left-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.search-input.search--open {
  display: block;
  top: 104%;
  width: 270px;
  height: 34px;
}
@media (min-width: 1024px) {
  .search-input {
    display: none;
  }
}

.burger {
  --burger-width: 24px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin: auto 0 auto 1rem;
  z-index: 22;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .burger {
    margin: auto 0 auto 2rem;
  }
}
@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.catalog-burger {
  --burger-width: 24px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin: auto;
  z-index: 2;
}
.catalog-burger::before, .catalog-burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.catalog-burger::before {
  top: 0;
}
.catalog-burger::after {
  top: calc(100% - var(--burger-line-height));
}
.catalog-burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.catalog-burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.catalog-burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.catalog-burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .catalog-burger {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */