.contacts {
    grid-column: 4;
    position: relative;
    width: 133px;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
    z-index: 3;

    @media (min-width: 992px) {
        justify-content: space-between;
    }

    @include for-desktop {
        width: 133px;
    }

    @media (min-width: 1100px) {
        width: 162px;
    }

    @include for-big {
        width: 185px;
    }

    span {
        margin-top: 2px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.01em;
        color: var(--text-color);
    }
    &-top {
        display: none;

        @include for-big {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                &:first-child {
                    font-weight: 700;
                }
            }
        }
    }

    &__phone {
        margin: 5px 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: -0.02em;

        @include for-desktop {
            margin: 5px 0;
            font-size: 18px;
        }

        @media (min-width: 1100px) {
            font-size: 22px;
        }

        @include for-big {
            margin: 15px 0 14px;
            font-size: 25px;
        }
    }

    &__bottom {
        position: relative;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include for-big {
            position: absolute;
            top: 104%;
            left: 0;
        }

        details {
            position: relative;
            margin-bottom: 2px;

            & ul {
                position: absolute;
                right: 0;
                top: 100%;
                padding: 0.5rem 0;
                background-color: #fff;
                box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25), 2px -2px 7px rgba(0, 0, 0, 0.25);

                li {
                    padding: 3px 1rem;
                    cursor: pointer;
                    transition: color, background-color 0.3s;
                    white-space: nowrap;

                    &:hover {
                        background-color: var(--accent-color);

                        span {
                            color: #fff;
                        }
                    }
                }
            }
        }

        summary {
            cursor: pointer;
        }
    }
}
