.header {
    &-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @include for-small {
            gap: 15px;
        }

        @media (min-width: 992px) {
            gap: 20px;
        }

        @include for-desktop {
            gap: 30px;
        }

        @include for-big {
            gap: 40px;
        }
    }

    &-top {
        height: 100%;
        display: grid;
        grid-template-columns: 47px auto auto;
        grid-template-rows: 2px 30px auto;
        column-gap: 10px;
        row-gap: 5px;
        width: 100%;

        @include for-small {
            grid-template-columns: 80px auto auto;
            column-gap: 15px;
        }

        @media (min-width: 650px) {
            grid-template-columns: 125px auto auto;
            row-gap: 10px;
        }

        @include for-tablet {
            grid-template-rows: 2px 70px auto;
        }

        @media (min-width: 992px) {
            column-gap: 20px;
        }

        @include for-desktop {
            grid-template-rows: auto 1fr;
            column-gap: 30px;
        }

        @include for-big {
            grid-template-columns: 210px 253px 1fr auto;
            row-gap: 22px;
        }

        &__logo {
            position: relative;
            grid-row: 2 / span 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: flex-start;

            @include for-desktop {
                grid-row: 1 / span 2;
                align-self: flex-end;
            }

            &-wrapper {
                padding: 5px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--accent-color);

                @include for-small {
                    padding: 10px 8px;
                }

                @media (min-width: 650px) {
                    padding: 20px 8px;
                }

                @include for-desktop {
                    padding: 10px 8px 6px;
                }
            }

            &-img {
                width: 37px;
                height: 33px;

                @include for-small {
                    width: 57px;
                    height: 51px;
                }

                @media (min-width: 650px) {
                    width: 77px;
                    height: 65px;
                }

                @media (min-width: 992px) {
                    width: 107px;
                    height: 95px;
                }
            }

            &-text {
                display: none;

                @include for-desktop {
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: -20px;
                    width: 100%;
                    text-align: center;
                    transform: translateX(-50%);
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: var(--accent-text-color);
                    transition: color 0.3s;
                    z-index: 2;
                }

                @include for-big {
                    font-size: 13px;
                }
            }

            &:hover span {
                color: var(--accent-color);
            }
        }

        &__buttons {
            grid-row-start: 2;
            grid-column: 3;
            display: flex;
            justify-content: flex-end;
            column-gap: 14px;
            padding: 0;

            @include for-small {
                padding: 12px 0 8px;
            }

            @include for-tablet {
                grid-column: 3;
                padding: 12px 0 8px;
            }

            @media (min-width: 992px) {
                grid-column: 3;
            }

            @include for-desktop {
                grid-column: 4;
                grid-row-start: 1;
            }

            & .btn {
                transition: color 0.3s;

                &.registr {
                    display: none;

                    @media (min-width: 414px) {
                        display: inline-block;
                    }
                }

                @media (min-width: 414px) {
                    &:first-child {
                        &:after {
                            content: "|";
                            position: relative;
                            margin-left: 14px;
                            color: var(--text-color) !important;
                            cursor: initial;
                        }
                    }
                }

                &:hover {
                    color: var(--accent-color);
                }
            }
        }

        &__banner {
            width: 253px;
            height: 70px;
            background-color: #e2e2e2;

            @include for-tablet {
                grid-column: 2;
                grid-row: 2;
            }

            @include for-desktop {
                grid-row: 2;
            }
        }

        &__carts {
            grid-column: 2;
            grid-row: 3;
            display: none;
            align-items: center;
            column-gap: 25px;

            @media (min-width: 650px) {
                display: flex;
            }

            @media (min-width: 992px) {
                column-gap: 10px;
            }

            @include for-desktop {
                grid-row: 2;
                grid-column: 3;
            }

            @include for-big {
                column-gap: 30px;
            }
        }
    }

    &-bottom {
        position: relative;
        width: 100%;
        height: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        background-color: var(--text-color);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

        &__bonus {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 9px 14px 8px;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: var(--accent-text-color);
            text-transform: uppercase;
            background-color: var(--accent-color);
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            white-space: nowrap;
        }
    }
}

.hits-items {
    display: flex;
    column-gap: 15px;

    &__img {
        width: 60px;
        height: 60px;
        border: 1px solid #d9d9d9;
        transition: border-color, transform 0.3s;

        @media (min-width: 992px) {
            width: 70px;
            height: 70px;
        }

        &:hover {
            border: 1px solid var(--accent-color);
            transform: scale(1.1);
        }
    }
}

.catalog-mobile {
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-weight: 600;
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 7px;

    @include for-desktop {
        display: none;
    }
}
