.main-menu {
    position: absolute;
    top: 105%;
    left: 0;
    height: 0;
    width: 250px;
    display: flex;
    background-color: var(--text-color);
    border-radius: 9px;
    transition: height 0.4s;

    &.menu--active {
        height: auto;
    }

    @include for-desktop {
        position: relative;
        top: 0;
        width: auto;
        height: 100%;
        border-radius: 0;
    }

    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 8px;
        overflow: hidden;

        @include for-desktop {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 0;
        }
    }

    &__item {
        width: 100%;
        display: flex;

        @include for-desktop {
            width: auto;
            height: 100%;
        }

        &.item-active a {
            font-weight: 600;
            color: var(--accent-text-color);
            background-color: var(--accent-color);
        }
    }

    &__link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 10px 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        background-color: var(--text-color);
        border: none;
        color: #fff;
        transition: color, background-color 0.3s;

        @include for-desktop {
            font-size: 14px;
            line-height: 16px;
            justify-content: center;
            width: auto;
            padding: 8px 12px;
        }

        @media (min-width: 1100px) {
            padding: 8px 15px;
        }

        @include for-big {
            padding: 8px 19px;
        }

        &:hover {
            background-color: var(--accent-hover-color);
        }
    }
}
