<header class="header">
    <div class="container header-container">
        <div class="header-top">
            <a href="/" class="header-top__logo">
                <div class="header-top__logo-wrapper">
                    <img src="./img/logo.svg" class="header-top__logo-img" alt="Логотип магазина инструментов"
                        loading="lazy">
                </div>
                <span class="header-top__logo-text">Магазин инструмента</span>
            </a>
            <div class="header-top__header top-header ">
                <div class="top-header__wrapper">
                    <nav class="top-header__menu top-menu">
                        <ul class="top-menu__list list-reset">
                            <li class="top-menu__item">
                                <a href="#" class="top-menu__link">Каталог инструментов</a>
                            </li>
                            <li class="top-menu__item">
                                <a href="#" class="top-menu__link">Все для сада</a>
                            </li>
                            <li class="top-menu__item">
                                <a href="#" class="top-menu__link">Ручной инструмент</a>
                            </li>
                            <li class="top-menu__item">
                                <a href="#" class="top-menu__link">Электрика</a>
                            </li>
                            <li class="top-menu__item">
                                <a href="#" class="top-menu__link">Доставка</a>
                            </li>
                            <li class="top-menu__item">
                                <a href="#" class="top-menu__link">Оплата</a>
                            </li>
                            <li class="top-menu__item">
                                <a href="#" class="top-menu__link">О нас</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="top-header__buttons">
                        <button class="btn btn-reset">Вход</button>
                        <button class="btn btn-reset">Регистрация</button>
                    </div>
                </div>
            </div>
            <div class="header-top__body top-body">
                <div class="top-body__banner"></div>
                <div class="top-body__users users-buttons">
                    <button class="users-buttons__cart btn-reset">
                        <svg class="users-buttons__cart-icon">
                            <use xlink:href="img/sprite.svg#cart"></use>
                        </svg>
                        <span><span>3 шт.</span> / <span>17 250 р.</span></span>
                    </button>
                    <button class="users-buttons__favorite btn-reset">
                        <svg class="users-buttons__favorite-icon">
                            <use xlink:href="img/sprite.svg#favor"></use>
                        </svg>
                        <span>Избранное (<span>7</span>)</span>
                    </button>
                    <button class="users-buttons__balance btn-reset">
                        <svg class="users-buttons__balance-icon">
                            <use xlink:href="img/sprite.svg#balance"></use>
                        </svg>
                        <span>К сравнению (<span>5</span>)</span>
                    </button>
                </div>
                <div class="top-body__hits hits-items">
                    <div class="hits-items__img">
                        <picture>
                            <source srcset="./img/catalog/01.avif" type="image/avif">
                            <source srcset="./img/catalog/01.webp" type="image/webp">
                            <img loading="lazy" src="./img/catalog/01.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="hits-items__img">
                        <picture>
                            <source srcset="./img/catalog/02.avif" type="image/avif">
                            <source srcset="./img/catalog/02.webp" type="image/webp">
                            <img loading="lazy" src="./img/catalog/02.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                    <div class="hits-items__img">
                        <picture>
                            <source srcset="./img/catalog/03.avif" type="image/avif">
                            <source srcset="./img/catalog/03.webp" type="image/webp">
                            <img loading="lazy" src="./img/catalog/03.png" class="image" width="" height="" alt="">
                        </picture>
                    </div>
                </div>

            </div>
        </div>
        <div class="header-bottom">
            <button class="search btn-reset">
                <svg class="search-icon">
                    <use xlink:href="img/sprite.svg#search"></use>
                </svg>
            </button>
            <nav class="header-bottom__menu main-menu">
                <ul class="main-menu__list list-reset">
                    <li class="main-menu__item item-active">
                        <a href="#" class="main-menu__link">Перфораторы</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Дрели</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Шлифмашины</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Пистолеты</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Электропилы</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Наборы инструментов</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Акксессуары</a>
                    </li>
                </ul>
            </nav>
            <button class="header-bottom__bonus btn-reset">
                Распродажа
            </button>
        </div>

    </div>
</header>
